<style>
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    h1 {
        padding: 50px;
        color: blue;
        margin: 0 auto;
    }
    body {
        background-color: gray;
    }
    
    .colors {
        width: 80px;
        height: 40px;
        background-color: rgb(150, 214, 230);
        border-radius: 10px;
        color: blue;
        margin-left: 150px;
    }
</style>

<div class="container">
    <h1>Vice Versa</h1>
<form action="">
    <textarea cols="50" rows="10" name="usertext" style="background-color: aquamarine;"></textarea>
    <br><br>
    <input class="colors" type="submit" value="Reverse!">
</form>
</div>